<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js</title>
  <style></style>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  
  <div id="app">
    <ul>
      <li v-for="(fruit, index) of fruits">({{index}}){{ fruit }}</li>
    </ul>
    <ul>
      <template v-for="fruit of fruits">
        <li>{{ fruit }}</li>
        <hr>
      </template>
    </ul>
    <ul>
      <li v-for="n of 10">{{ n }}</li>
    </ul>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        fruits: ['りんご', 'バナナ', 'ぶどう']
      }
    })
  </script>
</body>
</html>